$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #2e2e2e;
$grey-darker:    #15181b;
$grey-darkest:   #0c0d0e;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// // brand colours 02aadf

$j-red: #bc002d;
$af-blue: #051039;
