
<div class="competition-promo vpad--xl  text--center bv-parallax" style="background-image: url('{{site.img}}/content/airfrance/hero.jpg'); background-size: cover; background-position: center; border-top: 6px solid #bc002d;">
  <a class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}"  href="http://bit.ly/2W1X1t9" target="_blank" >
    <img src="{{site.img}}/logo/partner_white.svg" alt="{{site.client.name}} Logo">
  </a>
  <div class="container container--xxxl text--center">

    <div class="space--xxxl"></div>
    <div class=" text--white">
      <h2 class="title title--xxl text--bold">Japan mit Air France bereisen</h2>
      <div class="space--xxs"></div>
      <p class="text--xxxl text--normal vpad--xs">Willkommen an Bord</p>
      <div class="space--lg"></div>
      <a href="http://bit.ly/2W1X1t9" target="_blank" class="btn btn--white">Flüge finden</a>
    </div>
  </div>
  <div class="space--xxl"></div>
</div>
