<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--xl">
      <div class="text--center text--white">
        <h2 class="core-title core-title--xxl">Das ist noch nicht alles:</h2>
        <div class="space--sm"></div>
        <div class="container container--no-padding container--lg">
          <p class="text--lg vpad--xxs">Falls hier nicht das Richtige dabei war, gibt es auf unserer Homepage noch viele weitere Angebote – bis zu 70 % günstiger</p>
          <div class="space--sm"></div>
          <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">Alle aktuellen Angebote ansehen</a>
        </div>
      </div>
    </div>
  </div>
</div>
