---
layout: default
id: overview
nav: true
nav-order: 1
nav-title: Überblick
title: Eine neue Welt erleben

banner:
  title-sub: Eine neue Welt erleben
  title: Schweiz
  hero:
  size: banner-title--xxl


intro: "Historische Städte mit weltstädtischem Flair – Schweizer Boutique Towns sind wie geschaffen für eine kleine Auszeit vom Alltag. Auf kleinstem Raum erwarten Sie Natur, Kunst und Kultur im Überfluss, dazu ein kosmopolitisches Laisser-faire zwischen Tradition und Moderne. Unvergessen bleiben die Momente der originellen City-Touren, bei denen Sie die Städte wie Einheimische erleben. "




---

<!---- Intro ----->


<div class="" style="background-image: url({{site.img}}/content/overview/.png); background-repeat:no-repeat; background-size:cover; background-position:left;">
  <div class="container container--lg vpad--xl text--justify text--lg ">
    {{page.intro}}
     <!--<a href="javascript:void(0);" class="btn btn--solid js-open-modal " data-modal-group="section" data-modal-item="0">Video ansehen</a>-->
  </div>
</div>
<div class="space--xs"></div>


{% if page.page-nav %}{% include nav/page.html %}{% endif %}


<!---- Regions ----->


<div class=" bg--light">
<div class="container vpad--xxl bg--light">
  <h3 class="title title--lg text--center text--bold bv-divider">Entdecken Sie die Boutique Towns der Schweiz</h3>
  <div class="space--xxxl"></div>
  <div class="row row--xl-4-4-4">

    {% for section in site.data[page.id] %}

      <div class="col">

      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/overview/highlight{{section.id}}.jpg'); ">
         <a href="javascript:void(0);" data-modal-item="{{section.id}}" data-modal-group="section" class="js-open-modal bg-img__link"></a>

          <div class="bg-img__content">
            <div class="title title--md text--bold">{{section.title}}.</div>
            <div class="text text--sm text--white text--light " >{{section.caption}}</div>
          </div>
          <div class="bg-img__bg-overlay text--white text text--sm"></div>
        </div>

      </div>

    {% endfor %}

  </div>
</div>
</div>
