<div class="{{include.block}}">
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/aktuelle-angebote{{site.se-tracking-link}}">Aktuelle Angebote</a>
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/top-destinations{{site.se-tracking-link}}">Beliebte Reiseziele</a>
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/strandurlaub/filter{{site.se-tracking-link}}">Strandurlaub</a>
  <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.title }}</a>
</div>
