// element styles for written content

em      { font-style: italic; }
strong  { font-weight: 700; }
sup {
  font-size: $s-1;
  line-height: 0;
  vertical-align: super;
}

// standard inline link style
a[href]:not([class]) {
  color: $orange;
  @include transition;
  &:hover { color: $orange-darker; }
}



// lists
li {
  list-style-position:
  outside; margin-left: $s1;
}
ul li   { list-style-type: disc; }
ol li   { list-style-type: decimal; }

.list--lined {
  padding: $s0 0;
  & li {
    list-style: none;
    margin-left: 0;
    padding: $s0 0;
    border-bottom: 1px solid rgba($white,0.2);
    &:first-child { border-top: 1px solid rgba($white,0.2); }
  }
}


// hr
hr {
  border: 0;
  height: 1px;
  background-color: rgba($white,0.2);
  margin: $s1 0;
}
.text--black hr    { background-color: rgba($grey-darkest,0.2); }
.text--default hr { background-color: rgba($grey-darkest,0.2); }
.text--white hr   { background-color: rgba($white,0.2); }

.hr {
  &--left { width: 80px; margin-left: 0; }
  &--right { width: 80px; margin-right: 0; }
  &--center { width: 80px; margin-left: auto; margin-right: auto; }
}