<!-- Photo & Video modal - video requires youtube-id -->

<div class="container container--no-padding modal-photo" style="{{item.photoshow}}">
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="prev" style=""></div>

  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next" style=""></div>

  <div class="modal-photo ">
    <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{item.page}}/highlight{{item.id}}.jpg');">
            <div class="text text--sm text--white text--light bv-copyright" >{{item.caption}}</div>
          </div>
  </div>
  <div class="modal-photo__content  text--left" >

      <h3 class="title title--md text--normal text--red ">{{item.id}}. {{item.title}}</h3>
      <div class="space--xs"></div>
      <div class="title title--xxs text--light">{{item.description}}
         <a href="{{site.baseurl}}/{{item.link}}" class="text text--blue text--normal text--underline" >{{item.cta}} {{item.class}}</a>
      </div>
      <div class="space--xxs"></div>

  </div>

</div>

<div class="container container--no-padding modal-video" style="{{item.videoshow}}">

  <div class="bg-img bg-img--16-9">
    <iframe id="modal-video__{{item.id}}" class="modal-video__iframe" frameborder="0" allowfullscreen="1" width="100%" height="100%" src="https://www.youtube.com/embed/{{page.video.youtube-id}}?controls=1&rel=0&showinfo=0&modestbranding=1"></iframe>
  </div>

</div>
