---
layout: default
id: angebote
title: Angebote
nav: true
nav-order: 8


banner:
  title-sup: Japan
  title: Angebote
  hero: 30% center


---


<!-- INTRO SECTION -->



<div class="container vpad--xl">

  <div class="wp" ></div>
  <div class="vpad--md">

    <div class="row row--xl-6-6 row--gutters-lg">
      {% for offer in site.data.offers %}
      <div class="col">
      {% include offer/offer.html %}
      </div>
      {% endfor %}
    </div>
  </div>

</div>


{% include page/promo-offers.html %}
