// styles for adding titles, links and hover effects for .bg-image

.bg-img {
  // Vertically centered content in bg-image
  background-color: $grey-dark;
  @include transition;
  &--bgzoom {
    background-size: 100% auto;
    &:hover { background-size: 105% auto; }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    cursor: pointer;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
    text-align: center;
    @include page-padding;
  }
  &__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: rgba($black,.4);
    @include transition;
  }
  &:hover &__bg-overlay { background-color: rgba($black,.6); }

  &__play {
    $play-button-width-sm: 80px;
    $play-button-width: 160px;
    width: $play-button-width-sm;
    height: $play-button-width-sm;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$play-button-width-sm/2;
    margin-left: -$play-button-width-sm/2;

    background-image: url('../img/icons/play.svg');
    background-position: center;
    background-repeat: no-repeat;

    @include bp($lg){
      width: $play-button-width;
      height: $play-button-width;
      margin-top: -$play-button-width/2;
      margin-left: -$play-button-width/2;
    }
  }
  &--zoom {
    @include transition();
    transform: scale(1);
  }
  &:hover &--zoom { transform: scale(1.1); }

  $expand-size-xs: 2.8em;
  $expand-size-sm: 3.2em;
  $expand-size:    4em;
  &__expand {
    @include transition();
    height: $expand-size-sm;
    width: $expand-size-sm;
    background-size: $expand-size-sm*0.7;
    background-image: url(../img/icons/icon-expand.png);
    background-color: rgba($grey-darkest,0.6);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-content-upper;
    @include bp($lg){
      height: $expand-size;
      width: $expand-size;
    }
  }
  &:hover &__expand {
    background-color: rgba($grey-darkest,0.8);
    background-size: $expand-size-sm*0.8;
  }
  &__expand-yellow {
    @include transition();
    height: $expand-size-sm;
    width: $expand-size-sm;
    background-size: $expand-size-sm*0.3;
    background-image: url(../img/icons/close-black.png);
    background-color: $af-blue;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 50px;
    left: 50%;
    margin-left: -$expand-size-sm/2;
    top: 50%;
    margin-top: -$expand-size-sm/2;
    z-index: $z-content-upper;
    @include bp($lg){
      height: $expand-size-sm;
      width: $expand-size-sm;
    }
  }
  // modifiers
  &--shadow { box-shadow: 0px 0px 30px 0px rgba($grey-darkest,0.8); }
  &--rounded { border-radius: 4px; }
}
