---
layout: default
id: airfrance
title: Air France
nav: true
nav-order: 5
nav-title: Air France


banner:
  title-sup: Nach Japan mit
  title:  Air France
  title-sub:
  hero: 58% center


page-nav:
  - id: one
    title: Reiseklassen und Services an Bord
  - id: two
    title: Gastronomieerlebnis mit Air France
  - id: three
    title: Unterhaltung an Bord

intro: "Ganz entspannt nach Japan: Bereisen Sie das Land des Lächelns mit Air France und genießen dabei exzellenten Service und französische Küche in allen Reiseklassen. Von neun deutschen Städten aus bringen Sie tägliche Flüge nach Tokio Narita und nach Tokio Haneda mit der mit Boeing 777 oder 5-mal die Woche mit der neuen, umweltfreundlichen Boeing 787 nach Osaka über Paris-Charles de Gaulle."



features:

- id: one
  img: "https://img.static-af.com/images/media/6838502C-9C53-47E8-8826ABDC761A3024?aspect_ratio=7:2&max_width=1280"
  title: "Exklusiver Service und höchster&nbsp;Komfort"
  description: "Sie haben die Wahl von drei verschiedenen Reiseklassen auf den Flügen nach Japan. Alle Klassen bieten ausgezeichnete Speisen und Service. Entscheiden Sie selbst, was Ihnen wichtig ist und in welcher Klasse Sie das Personal von Air France begrüßen&nbsp;darf. "
  link: http://bit.ly/2xdRcwX
  cta:

  pois:

      - id: 1
        img: "https://img.static-af.com/images/media/1BE40039-7789-40AA-B3FC95DA04459DEB/source/header-b2c-1920x500/?extent=true"
        subtitle: Economy
        cta: "http://bit.ly/2CXIeqS"
        description-short: Mit Air France kommen Sie entspannt an Ihr Ziel. Für angenehmen Schlafkomfort erhalten Sie ein Kissen und eine Fleecedecke sowie eine Schlafmaske auf Ihrem Langstreckenflug und anschließend ein Erfrischungstuch. Neben einem vielseitigen Unterhaltungsprogramm und Getränkeservice an Bord, stehen Ihnen verschiedene Sitzplatzbuchungsmöglichkeiten zur&nbsp;Auswahl.

      - id: 2
        img: "https://img.static-af.com/images/media/5AC294DA-767B-4BAD-93F3A363C6B71D28?aspect_ratio=7:2&max_width=1280"
        subtitle: Premium Economy
        cta: "http://bit.ly/2Gas1l6"
        description-short: Relaxen Sie vor dem Flug in einer der Lounges und kommen Sie ausgeruht an Bord. Checken Sie als erste Gäste ohne Wartezeit ein und genießen den bevorzugten Gepäckservice. Gehobener Sitzkomfort und Ausstattung am Platz sorgen für eine stressfreie Zeit zum Entspannen und Arbeiten. An Bord erwarten Sie exquisite kulinarische Speisen und Getränke.

      - id: 3
        img: "https://img.static-af.com/images/media/59085CD3-63B4-488A-B1F4BF53BF8F8CC2?aspect_ratio=4:3&max_width=768"
        subtitle: Business Class
        cta: "http://bit.ly/2MEyC8E"
        description-short: Höchster Komfort, vom Boarding bis zur Gepäckausgabe, erwartet Sie bei 'Air France Sky Priority'. Mit privatem Loungebereich am Flughafen, exklusiver Getränke- und Speiseauswahl und verschiedenen Unterhaltungsmedien ist für alles gesorgt, um Ihnen den Flug so angenehm wie möglich zu machen. Auf Knopfdruck verwandelt sich sogar Ihr Sitz in eine 2m lange Schlafgelegenheit mit Kuscheldecke und Daunenkissen für erholsame Ruhepausen an Bord.


- id: two
  title: "Kulinarischer Höhenflug "
  img: "https://img.static-af.com/images/media/02735DC7-B9C1-463D-937177DE5D78D71F/source/GASTRONOMY_LANDING_1920x500/?extent=true"
  description: "Typisch Französisch! Serviert werden frisches Gemüse, Käse oder Obst und Champagner: Die prämierte 5*-Küche verköstigt Sie auf höchstem Niveau. Auf langen Interkontinentalflügen präsentiert Ihnen Air France ein Buffet mit einer Auswahl an verschiedenen Speisen. In allen Reiseklassen erwartet Sie hier ein optimaler&nbsp;Service."
  cta:  >
    <a href="http://bit.ly/2DIrTaV" target="_blank" class="btn btn--white" >Weitere Infos</a>



- id: three
  title: "Vielseitiges Unterhaltungsangebot"
  img: "https://img.static-af.com/images/media/5B7297A5-AAA9-45AB-801B3EBCADC1C4BE?aspect_ratio=4:3&max_width=768"
  description: "Damit die Zeit wie im Fluge vergeht, bietet Air France eine große Auswahl an Unterhaltungsmedien an. Neben Musik, Spielfilmen und TV-Serien für Erwachsene, finden auch kleine Fluggäste zahlreiche Zeichentrickfilme oder Spiele im Angebot. Für Leseratten stehen Zeitungen und Zeitschriften in verschiedenen Ausführungen zur&nbsp;Wahl."
  cta:  >
    <a href="http://bit.ly/2HGifJR" target="_blank" class="btn btn--blue" >Weitere Infos</a>






---



<div class="bg--blue">
  <div class="container container--xxl vpad--xxl text--center text--white text--lg bv-mob-left">
    {{page.intro}}<br><br>
      <a href="http://bit.ly/2W1X1t9 " class="btn btn--outline" >Flüge nach Tokio</a>
      <a href="http://bit.ly/2FMTppp" class="btn btn--outline" >Flüge nach Osaka</a>
  </div>
</div>



{% if page.page-nav %}{% include nav/af-page.html %}{% endif %}



<!-- LENS SECTION -->

{% for feature in page.features %}

  <div  id="{{feature.id}}">

    <div class="text  {% cycle '', 'text--white text--left' %} text--md text--bold text--left " style="background-image:url({{site.img}}/content/{{page.id}}/{{feature.id}}.jpg); background-position: center center; background-repeat:no-repeat; background-size:cover">
      <div class="container  vpad--xxl ">
          <div class="container--xl text--xl ">
            <div class="title title--lg text--light">{{feature.title}}</div>
              <div class="space--lg "></div>
            <div>{{feature.description}}</div>
            <div class="space--lg"></div>
            {{feature.cta}}
          </div>
      </div>
    </div>


    <div class="container  ">

          {% for poi in feature.pois %}
<div class="space--xl"></div>
                <div class="bob  {% cycle '', 'bob--swap' %} ">
                  <div class="bob__img">
                    <div class="bg-img bg-img--16-9" style="background-image:url({{poi.img}}); background-position: right center; background-repeat:no-repeat; background-size:cover" ></div>
                  </div>
                  <div class="bob__text text--black">
                    <h3 class="title title--sm text--bold">{{poi.subtitle}}</h3>
                    <p class="text--md">{{poi.description-short}}</p>
                    <div class="space--lg"></div>
                    <a href="{{poi.cta}}"  class="btn btn--blue" >Weitere Infos</a>
                  </div>
              </div>
              <div class="space--xl"></div>
            {% endfor %}

    </div>

  </div>

    {% endfor %}
