
/*=====================================
  MODAL VARIABLES & SETUP
=====================================*/

$icon-size-sm: 3.2em;
$icon-size: 4em;
$content-width: 30%;
$modaltransition-time: 300ms;
$modaltransition-distance: 4em;

@mixin modaltransition() { transition: all $modaltransition-time cubic-bezier(.5,0,.5,1); }

// disable scroll and blur background when modal is active
.disable-scroll {
  overflow: hidden;
  
  & >:not(.modal) {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}



/*=====================================
  MODAL
=====================================*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-modal;
  background-color: rgba($black,0.6);
  overflow: hidden;
  &.is-open { display: block; }
  &.is-closed { display: none; }

  // separate modal items from nav
  &__container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    padding-left: $modaltransition-distance;
    padding-right: $modaltransition-distance;
  }

  // The modal content item that is shown/hidden based on selector
  &__item {
    @include modaltransition();
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: scroll;
    @include bp($lg){
      padding: 0 $icon-size;
      overflow: auto;
    }

    &.is-open     { left: 0; opacity: 1; }
    &.is-opening  { left: 0; opacity: 1; }
    &.is-closing-next  { left: -$modaltransition-distance; opacity: 0; }
    &.is-closing-prev  { left: $modaltransition-distance; opacity: 0; }
    &.is-closed   { left: 0; opacity: 0; }
    &.is-prev     { left: -$modaltransition-distance; }
    &.is-next     { left: $modaltransition-distance; }

  }

  &__content {
    width: 100%;
    max-height: 100%;
  }

  &__close {
    @include transition;
    position: fixed;
    right: 0;
    top: 0;
    height: $icon-size-sm;
    width: $icon-size-sm;
    background-color: rgba($white,0.8);
    background-image: url('../img/icons/close-black.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    &:hover{ background-color: $white; }
    @include bp($lg){
      height: $icon-size;
      width: $icon-size;
    }
  }

}

// SPECIFIC MODIFIERS FOR BASIC TEXT MODAL
.modal-text {
  margin: $icon-size-sm auto;
  @include bp($lg){
    margin: $icon-size auto;
  }
}

// SPECIFIC MODIFIERS FOR VIDEO MODAL
.modal-video {
  &__iframe {
    @include transition();
    position: absolute;
    top: 0;
    left: 0;
  }
}

// SPECIFIC MODIFIERS FOR VIDEO MODAL
.modal-photo {
  //padding: $icon-size-sm 0;
  text-align: center;
  max-width: $xxl;
  /*@include bp($lg){
    padding: $icon-size 0 14em;
  }*/
  &__img {
    position: relative;
    z-index: $z-content;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: auto;


  }

  &__content {
    background-color: $white;
    border-bottom: 4px solid $j-red;
    padding: $s2 $s4;
    @include bp($lg){
      //position: fixed;
      //bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      //padding: $s3 $s5;
    }

  }
  &__content-toggle {
    background-color: $j-red;
    padding: 1em;
    position: absolute;
    left: 0;
    top: -$icon-size-sm;
    width: $icon-size-sm;
    height: $icon-size-sm;
    @include bp($lg){
      top: -$icon-size;
      width: $icon-size;
      height: $icon-size;
    }
    & img {
      @include transition();
      transform: rotate(180deg);
    }
    &.accordion--open img { transform: rotate(0deg); }
  }
}

// SPECIFIC MODIFIERS FOR PROFILE MODAL
.modal-profile {
  margin: $icon-size-sm auto;
  @include bp($lg){
    margin: $icon-size auto;
  }
  &__image {
    position: relative;
  }
  &__picture {
    $profile-picture-sm: 120px;
    $profile-picture:    160px;
    position: absolute;
    bottom: -1.5em;
    left: 3em;
    width: $profile-picture-sm;
    @include bp($lg){
      width: $profile-picture;
    }
  }
}






/*=====================================
  MODAL CAROUSEL - if .modal--carousel
=====================================*/

.modal {
  &__nav {
    display: none;
    .modal--carousel & {
      @include transition;
      display: block;
      position: absolute;
      bottom: 0;
      height: $icon-size-sm;
      width: 50%;
      z-index: $z-overlay-upper;
      background-color: rgba($white,0.8);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1em;
      cursor: pointer;
      user-select: none;
      &:hover{ background-color: $white; }
      @include bp($lg){
        bottom: auto;
        top: 50%;
        margin-top: -$icon-size;
        height: $icon-size*2;
        width: $icon-size;
      }

      &--next {
        right: 0;
        background-image: url('../img/icons/arrow-right-dark.svg');
      }
      &--previous {
        left: 0;
        background-image: url('../img/icons/arrow-left-dark.svg');
      }
    }
  }

}
