<div class="container vpad--xxs">
  <div class="bv-swiss-footer"></div>
  <div class="space--xs"></div>
  <a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.client.link}}">
    <img src="{{site.img}}/logo/partner.png" alt="{{site.client.name}} Logo">
  </a>
  <div class="bv-social-media--wrap">
    <ul class="bv-sm">
      <a href="http://bit.ly/2FYQEQ5" target="_blank"><li class="bv-sm bv-sm--fb"></li></a>
      <a href="http://bit.ly/2GcxFlp" target="_blank"><li class="bv-sm bv-sm--tw"></li></a>
      <a href="http://bit.ly/2uWXAIy" target="_blank"><li class="bv-sm bv-sm--in"></li></a>
      <a href="http://bit.ly/2KjLP9k" target="_blank"><li class="bv-sm bv-sm--nl"></li></a>
    </ul>
  </div>
<div class="space--lg"></div>
<div class="bv-swiss-footer"></div>
</div>
