




<div class="offer" >

  <a class="offer__link" href="{{offer.link}}" target="_blank"><span class="btn btn--solid">Zum Angebot</span></a>

  <div class="bg-img bg-img--3-2" style="background-image: url('{{offer.image}}')">
    {% if offer.flight-tag %}
      <img class="flight-tag" src="{{site.img}}/icons/flights-incl.png" alt="FLÜGE INKLUSIVE">
    {% endif %}

  </div>



  <div class="offer__content text text--xl text--left">

    <h3 class="title title--sm ">{{offer.title}}</h3>
    <h4 class="offer__location text--red">{{offer.location}}</h4>
    <div class="offer__description">{{offer.description}}</div>

    <div class="offer__bottom">

      <div class="offer__bottom-left">

        {% if offer.saved %}
          <div class="offer__saved">
            <div class="offer__saved-label ">Sparen Sie bis zu</div>
            <div class="offer__saved-percent title title--xs ">{{offer.saved}}<span class=" title title--xxxs">%</span></div>
          </div>
          <div class="offer__separator"></div>
        {% endif %}

        <div class="offer__details">
          <div>Ab <span class="offer__price ">{{offer.price}}€</span></div>
          <div class="text--md">{{offer.price-description}}</div>

        </div>

      </div>
      <div class="offer__bottom-right">
        <div class="offer__arrow"></div>
      </div>

    </div>

  </div>

</div>
