---
layout: default
---




<!-- INTRO SECTION -->


{% include page/intro.html %}



<!-- JOURNEY -->


{% for section in site.data[page.id] %}



<div class="wp" id="{{section.id}}"></div>

<div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg); background-repeat:no-repeat; background-size:cover; background-position:top center;">
  <div class="container vpad--xxl ">
      <div class="row row--justify row--xl-6-6 row--no-gutters ">
          <div class="col bg--white boxpad--lg bv-section-text">
            <h3 class="title title--md text--bold bv-divider">{{section.title}}</h3>
            <p>{{section.description}}</p>
          </div>
      </div>
    </div>
</div>



<div class="container vpad--xs ">

  <div class="space--lg"></div>
    <div class="row row--xl-4-4-4 row--lg-6-6 row--gutters">

    {% for poi in section.pois.items %}
        <div class="col">
          <div class="bg-img bg--white bg-img--4-3" style="background-image:url({{site.img}}/content/{{page.id}}/photos/{{poi.id}}.jpg);">
            <div class="text text--sm text--white text--light bv-copyright" >{{poi.caption}}</div>
          </div>
          <div class="space--md"></div>
          <h5 class="title title--xs text--bold">{{poi.title}}</h5>
          <p>{{poi.content}}</p>
          <div class="space--xl"></div>
        </div>

      {% endfor %}

    </div>
  </div>

<div class="space--lg "></div>
{% endfor %}
