---
layout: default
---




<!-- INTRO SECTION -->


{% include page/intro.html %}



<!-- JOURNEY -->
{% if page.page-nav %}{% include nav/page.html %}{% endif %}

{% for section in site.data[page.id] %}



<div  id="{{section.id}}"></div>
<div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg); background-repeat:no-repeat; background-size:cover; background-position:top center;">
  <div class="container vpad--xxxl ">
      <div class="row row--xl-6-6 row--no-gutters text--xl text--light text--white">
          <div class="col col--xl-8">
            <h3 class="title title--xxl text--bold bv-divider">{{section.title}}</h3>
            <div class="space--xs"></div>
            <p>{{section.description}}</p>
          </div>
      </div>

      <div class="space--xxl"></div>
    </div>
</div>

<div class="container vpad--xs text--center">
  <div class="space--lg"></div>
    <div class="row row--xl-4-4-4 row--lg-6-6 row--gutters text--left">

    {% for poi in section.pois.items %}
        <div class="col">
          <div class="bg-img bg--white bg-img--4-3" style="background-image:url({{site.img}}/content/{{page.id}}/photos/{{poi.id}}.jpg);"> </div>
          <div class="space--md"></div>
          <h5 class="title title--sm text--light text--red">{{poi.title}}</h5>
          <div class="space--xxxs"></div>
          <p>{{poi.content}}</p>
          <div class="space--xl"></div>
        </div>

      {% endfor %}

    </div>
    <a href="{{section.cta}}" target="_blank" class="btn btn--solid">Weitere Infos </a>
  </div>
<div class="space--lg "></div>
{% endfor %}


{% if page.teaser %}
<div  id="{{page.teaser.id}}"></div>
<div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/teaser.jpg); background-repeat:no-repeat; background-size:cover; background-position:top center;">
  <div class="container container--xxl vpad--xxxl text--left text--white text--xl ">
    <h3 class="title title--xl text--left text--bold bv-divider">{{page.teaser.title}}</h3>
    <div class="space--xs"></div>
    <p>{{page.teaser.description}}</p>
      <div class="space--xl"></div>
      <a href="{{page.teaser.link}}" target="_blank" class="btn btn--outline">{{page.teaser.cta}}</a>
      <a href="javascript:void(0);" class="btn btn--outline js-open-modal journey__video"  data-modal-item="{{page.id}}-video">Video ansehen</a>
  </div>

</div>

{% endif %}
